---
layout: base
---

{%- for post in collections.posts | reverse %}
<a href="{{ post.url }}">
  <article>
    <p><strong>{{ post.data.title }}</strong></p>
    <p>Published on <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></p>
    <p>Short excerpt of the blog post content to entice the reader to click and read more.</p>
  </article>
</a>
{%- endfor %}
