---
layout: base
---
{% set postsCount = collections.posts | length %}
<h2>Latest {{ postsCount }} Post{% if postsCount != 1 %}s{% endif %}</h2>

{%- for post in collections.posts | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
{%- endfor %}
