---
title: Guides
permalink: /guides/index.html
---
{%- for category, guides in collections.guidesByCategory | dictsort %}
<h2 id="{{ category | slugify }}">{{ category }}</h2>
<ul>
  {%- for guide in guides | sort(false, true, 'data.title') %}
  <li><a href="{{ guide.url }}">{{ guide.data.title }}</a></li>
  {%- endfor %}
</ul>
{%- endfor %}
