---
pagination:
  data: talks
  size: 1
  alias: talk
eleventyComputed:
  title: Talk {{ talk.title | safe }}
permalink: /talk/{{ talk.slug or talk.title | slugify }}/index.html
section:
  title: "Talks"
  url: "/talks"
---

{% set iframeType = 'type="application/pdf"' if talk.slideType == "pdf" else '' %}

<iframe
  src="{{ talk.slides }}"
  width="100%"
  height="600"
  {{ iframeType | safe }}
  frameborder="0"
  allowfullscreen
  style="border: 1px solid #ccc; border-radius: 8px;"
  title="{{ talk.title }} slides"
  loading="lazy">
</iframe>

