<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <title>{{ website.siteName }}{% if title != "Home" %} {{ title }}{% endif %}</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name="author" content="{{ author or website.author.name }}">
  <meta name="description" content="{{ page.excerpt | trim or website.subtitle }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ page.excerpt | trim or website.subtitle }}" />
  <meta property="og:image" content="{{ website.baseUrl }}{{ image | getTransformedUrl(page) or website.author.preview }}" />
  <meta property="og:url" content="{{ website.baseUrl }}{{ page.url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{ website.siteName }}">
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@devprofr">
  <meta name="twitter:site" content="@devprofr">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ page.excerpt | trim or website.subtitle }}">
  <meta name="twitter:image" content="{{ website.baseUrl }}{{ image | getTransformedUrl(page) or website.author.preview }}" />
  <link rel="canonical" href="{{ website.baseUrl }}{{ page.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ website.siteName }} Feed" href="/feed.xml">
  <link rel="stylesheet" href="/css/pico.min.css">
  <link rel="stylesheet" href="/css/prism-tomorrow.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/pagefind/pagefind-ui.css">
</head>

<body>
  <header class="container">
    <nav class="container">
      <ul class="home-menu">
        <li class="item"><a href="/" class="secondary"><strong>{{ website.siteName }}</strong></a></li>
      </ul>
      <ul class="main-menu">
        {%- for item in navigation.top %}
        <li class="item"><a href="{{ item.url }}"{% if item.url == page.url %} aria-current="page"{% endif %}>{{ item.title }}</a></li>
        {%- endfor %}
      </ul>
      <ul class="icons">
        <li>
          <a rel="noopener noreferrer" class="outline" aria-label="Search" href="/search">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.35-4.35"></path>
            </svg>
          </a>
        </li>
        <li>
          <a rel="noopener noreferrer" class="outline" aria-label="Contact" href="/contact">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
              <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
          </a>
        </li>
        <li>
          <a rel="noopener noreferrer" class="outline" aria-label="Subscribe to Feed" href="/feed.xml" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M4 4c10.5 0 19 8.5 19 19"></path>
              <path d="M4 11c6.6 0 12 5.4 12 12"></path>
              <circle cx="4" cy="20" r="2"></circle>
            </svg>
          </a>
        </li>
        <li>
          <a rel="noopener noreferrer" class="outline theme-switcher" aria-label="Switch theme" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m14 5-3 3 2 7 8-8-7-2Z"></path>
              <path d="m14 5-3 3-3-3 3-3 3 3Z"></path>
              <path d="M9.5 6.5 4 12l3 6"></path>
              <path d="M3 22v-2c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2H3Z"></path>
            </svg>
          </a>
        </li>
      </ul>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </label>
      <ul class="menu">
        <li class="item"><a href="/" class="secondary"><strong>{{ website.siteName }}</strong></a></li>
        {%- for item in navigation.top %}
        <li class="item"><a href="{{ item.url }}"{% if item.url == page.url %} aria-current="page"{% endif %}>{{ item.title }}</a></li>
        {%- endfor %}
      </ul>
    </nav>
  </header>
  <main class="container">
    {%- if page.url != "/" %}
    <nav aria-label="breadcrumb">
      <ol>
        <li>
          <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
              <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
              <polyline points="9 22 9 12 15 12 15 22"></polyline>
            </svg>
            <span class="visually-hidden">Home</span>
          </a>
        </li>
        {%- if section %}
        <li><a href="{{ section.url }}">{{ section.title }}</a></li>
        {%- endif %}
        <li>{{ title }}</li>
      </ol>
    </nav>
    {%- endif %}
    <div{% if includeInSearch %} data-pagefind-body{% endif %}>
      {%- if page.url != "/" %}
      <h1>{{ title }}</h1>
      {%- endif %}
      {{ content | safe }}
    </div>
  </main>
  <footer class="container">
    <nav>
      <ul>
        <li><small>&copy; 2025 {{ website.author.name }}</small></li>
      </ul>
      <ul>
        {%- for item in navigation.bottom %}
        <li><small><a href="{{ item.url }}" class="secondary" aria-label="{{ item.label or item.title }}"{% if item.url == page.url %} aria-current="page"{% endif %}>{{ item.title }}</a></small></li>
        {%- endfor %}
      </ul>
    </nav>
  </footer>
  <script src="/scripts/copy-button.js" defer></script>
  <script src="/scripts/theme-switcher.js"></script>
  {%- if process.environment == "production" %}
  <script data-goatcounter="https://devprofr.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  {%- endif %}
</body>

</html>
