---
title: Blog
permalink: /blog/index.html
---

<h2>Posts by year</h2>
<div class="year-buttons">
  {% for year in years %}
  <a href="/blog/{{ year }}/" role="button" class="outline">{{ year }}</a>
  {% endfor %}
</div>

<h2>Most recent</h2>
{%- for post in collections.posts | reverse | first(10) %}
<a href="{{ post.url }}">
  <article>
    <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    <h3>{{ post.data.title }}</h3>
    {%- if post.data.page.excerpt -%}
    <small>{{ post.data.page.excerpt | toHtml | safe}}</small>
    {%- endif -%}
  </article>
</a>
{%- endfor %}
